body{
	font-size:14px;
	font-weight:300;
	line-height:30px;
	font-family: 'Open Sans', sans-serif;
	background-color:#fff;
	margin-top:50px;
	color:#414141;
}

ul{
	margin:0;
	padding:0;
}
ol li {
	list-style:decimal;
	font-weight:600;
	line-height:normal;
	margin-bottom:20px;
}

li{
	list-style:square;
}
#apply ul li {
	padding:0px;
	margin:20px;
}
#services ul li {
	padding:0px;
	margin-left:100px;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}

img{
	max-width:100%;
}

h1, h2, h3, h4, h5, h6{
	font-weight:bold;
	text-rendering:optimizelegiblity;
	-webkit-font-smoothing:antialiased;
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

p{
	margin: 0;
	padding: 0;
	line-height: 26px;
	font-size: 14px;
	margin: 8px 0;
	text-align: left;
}

h3{
	font-size:30px;
}

/*Color

Blue: #00bcd4;
Body Color: #414141;
icon color: #a1a1a1;


*/



/*Top Navbar*/
.navbar-inverse {
  background-color: #fff;
  border-color: transparent;
  padding:10px 0;
}
.main-menu h1 {
	font-family: 'Montserrat', sans-serif;
	color:#000000 !important;
	font-size:28px;
	padding-left:70px;
	margin-top:-5px;
}

.logo {
	margin:0 0 0 0px;
	position:absolute;
}

ul.navbar-nav li a{
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	font-weight:400;
	color:#444444 !important;
}

ul.navbar-nav li a:hover{
	color:#999999 !important;
}

.is-sticky .main-menu{
	z-index:9999999 !important;
	position:absolute;
	background:#000;
}

.is-sticky .main-menu .navbar-inverse{
	background:#000;
	transition:0.4s;
	padding:10px 0;
}
.is-sticky .main-menu h1 {
	color:#FFF !important;
}

.is-sticky .main-menu ul.navbar-nav li a{
	color:#999999 !important;
}
.is-sticky .main-menu ul.navbar-nav li a:hover{
	color:#FFF200 !important;
}

/*Top Navbar*/


/*Header*/
.carousel-caption {
  top: 35%;
}

.carousel-caption h1 {
  font-size: 40px;
  line-height: auto;
  text-transform: uppercase;
}

.slider-btn {
  margin-top: 21px;
}

.indicatior2{
	top:90% !important;
}

.btn.btn-learn {
  background: #FFF200 none repeat scroll 0 0;
  border-radius: 50px;
  color: #000;
  font-weight: 500;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

/*Header*/

/* About */
#about {
	background:#fff;
}
.site-padding{
	padding:70px 0;
}

.btn.btn-read-more {
  background: #FFF200 none repeat scroll 0 0;
  border-radius: 50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 21px;
}

.about-text{
	margin-top:70px;
}

/* About */


/*Services*/
.title h3{
	text-align:center;
}

.title h3 span{
	color:#EFE000;
}

.title{
	margin-bottom:50px;
}
.subtitle{
	width: 70%;
	margin:auto;
	text-align:center;
}
.subtitle h4 {
	margin-bottom:20px;
}

#services, #documents {
	background:#f5fafa;
}

.service-icon i{
	font-size:50px;
	color:#a1a1a1;
}

.service-text h4{
	font-size:16px;
	text-transform:uppercase;
}

.service-text p{
	margin:5px 0;
}

.service-text a{
	font-size:13px;
	color:#EFE000;
	text-transform:uppercase;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
}

.service-text a:hover {
	color:#a1a1a1;
}

.single-service{
	margin-bottom:30px;
}

/*Services*/


/*Testimonials*/
.testimonials-padding{
	padding-bottom:70px;
}

#testimonials{
	background-color:#90A3B3;
	background:url(../img/interior-chair.jpg) 50% 0 repeat fixed;
	min-height:570px;
	color:#fff;
	text-rendering:optimizelegiblity;
	-webkit-font-smoothing:antialiased;
	padding:70px 0;
}

#why-choose {
	background:url(../img/interior-bed.jpg) 50% 90% repeat fixed;
	color:#fff;

	/*max-height:370px; */
}
#why-choose h4 {
		text-shadow:1px 1px #414141;
}


.text{
	background:#f4f4f4;
	text-align:left;
	padding:25px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.text p{
	color:#414141;
}

.profile-image{
	margin:0 auto;
	text-align:center;
	margin-top:30px;
}

.profile-image img{
	height:100px;
	width:100px;
	border-radius:500px;
	-moz-border-radius:500px;
	-webkit-border-radius:500px;
	margin-bottom:10px;
}

.profile-image h4{
	font-size:18px;
	color:#00bcd4;
	text-transform:uppercase;
	line-height:22px;
	font-weight:normal;
}

.profile-image p{
	font-size:14px;
	font-weight:normal;
	margin:0;
}


.carousel-indicators {
  top: 105%;
}

.carousel-indicators .active {
  background-color: rgb( 199, 199, 199 );
  height: 12px;
  margin: 0;
  width: 12px;
}

.carousel-indicators li {
 background-color: rgb( 199, 199, 199 );
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  width: 10px;
}

/*Testimonials*/


/*Footer*/
footer{
	background:#414141;
	padding:60px 0;
	color:#f8f8f8;
}

.single-footer h4{
	font-size:18px;
	font-weight:400;
	text-transform:uppercase;
	margin-bottom:10px;
}

ul.projects li {
  display: inline-block;
  margin-bottom: 4px;
  width: 32%;
}

.copyright{
	background:#353535;
	padding:10px 0;
	color:#fff;
}

.footer-menu ul li{
	display:inline-block;
	padding-left:15px;
}

.footer-menu ul li a{
	font-size:14px;
	font-weight:normal;
	color:#aaaaaa;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}

.footer-menu ul li a:hover{
	color:#fff;
}

.social ul li{
	display:inline-block;
	padding-left:5px;
}

.social ul li a i{
	height:35px;
	width:35px;
	background:#757575;
	text-align:center;
	color:#ffffff;
	line-height:35px;
	font-size:18px;
	border-radius:500px;
}

.footer-menu.pull-right {
  margin-top: 7px;
}

.social {
	text-align: right;
  margin-top: 4px;
}

.my-form {
  height: 45px;
  border-radius: 0px;
  background: #d4d4d4;
  color: #969696;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight:500;
}

.btn.btn-subscribe {
  background: #FFF200 none repeat scroll 0 0;
  border-radius: 0;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/*Footer*/


/* --- pagination --- */

#pagination a,
#pagination span {
    display: block;
    float: left;
    margin: 0 7px 0 0;
    padding: 7px 10px 6px 10px;
    font-size: 12px;
    line-height:12px;
    color: #888;
	font-weight:600;
}

#pagination a:hover {
    color: #fff;
	text-decoration:none;
}

#pagination span.current {
    background: #333;
    color: #fff;
    font-weight: bold;
}

#pagination a:hover{
  color: #fff;
  background:#00bcd4;
}



/*============================
 Forms
============================= */

/* --- contact form  ---- */
form#contactform input[type="text"] {
  width: 100%;
  border: 1px solid #c6c6c6;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom:20px;
}

form#contactform textarea {
border: 1px solid #c6c6c6;
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

form#contactform .validation {
	font-size:11px;
}

#sendmessage {
	border:1px solid #e6e6e6;
	background:#f6f6f6;
	display:none;
	text-align:center;
	padding:15px 12px 15px 65px;
	margin:10px 0;
	font-weight:600;
	margin-bottom:30px;

}

#sendmessage.show,.show  {
	display:block;
}

/* --- comment form ---- */
form#commentform input[type="text"] {
  width: 100%;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;

}

form#commentform textarea {
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}

.contact h4{
	margin-bottom:20px;
}

.contact{
	padding-bottom:70px;
}

.btn.btn-theme.margintop10 {
  background: #FFF200;
  color:#000;
}


/* --- search form --- */
.search{
	float:right;
	margin:35px 0 0;
	padding-bottom:0;
}

#inner-headline form.input-append {
	margin:0;
	padding:0;
}

/* --- Map --- */
.map{
	position:relative;
	margin-top:-50px;
	margin-bottom:40px;
}

.map iframe{
	width:50%;
	margin:auto;
	height:450px;
	border:none;
}

.map-grid iframe{
	width:70%;
	height:350px;
	border:none;
	margin:auto;
	padding:0;
}



/*FAQ*/
#faq{
	padding:70px 0;
	background:#F7F7F7;
}

.faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
	
	h4.panel-title{
		font-weight:normal;
		font-size:15px;
		font-family: 'Open Sans', sans-serif;
	}
	
	.panel {
	  background-color: #fff;
	  border: 1px solid #ddd;
	  border-radius: 0px;
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	  margin-bottom: 20px;
	}
	
	.panel-default > .panel-heading {
	  background-color: #fff;
	  border-color: #ddd;
	  color: #414141;
	}
/*FAQ*/

.navbar-toggle {
  background-color: #353535;
}

#contact-us{
	padding:70px 0;
}
#contact-page{
	padding: 70px 0;
	background: #f5fafa;
}
#contact-page iframe{
	margin:30px auto 0px auto;
	text-align:center;
}
